*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 400 16px Arial;
    color: white;
}

.conteiner {
    width: 800px;
    height: 400px;
    background-color: rgba(17, 109, 89, 0.863);
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 9px 5px 20px rgba(36, 36, 36, 0.664);
    padding: 10px;
} 
.grid-nome-email{
    display: grid;
    grid-template-columns: 1f 1f  ;
    display: inline-flex;
    width: 750px;
}
.coluna-dados{
    padding: 10px;
    
}
.coluna-dados input{
    padding: 15px;
    width: 368px;
    border-radius: 10px;
    border-style: none;
}
.descricao{
    width: 780px;
    height: 190px;
    padding: 10px ;
}
.descricao input{
    width: 756px;
    height: 150px;
    border-radius: 10px;
    border-style: none;
}
.grid-informacoes{
    display: grid;
    grid-template-columns: 1f 3f 3f 1f;
    display: inline-flex;
    width: 778px;
    padding: 10px;
}

.coluna-informacoes input{
    padding: 1px;
}
.coluna-informacoes .cores{
    border-radius: 10px;
    border-style: none;

}
.coluna-informacoes .calendario{
    padding-left: 20px;
    padding-top: 5px;
    border-style: none;
    border-radius: 10px;
}
.coluna-informacoes #upload{
    padding: 5px;
    border-style: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.coluna-informacoes .senha{
    padding: 5px;
    border-style: none;
    border-radius: 10px;
}
#enviar-formulario{
    padding: 10px;
    width: 80px;
    color: white;
    background-color: rgba(0, 128, 0, 0.644);
    margin-left: 10px;
    border-style: none;
    border-radius: 10px;
    border: 1px solid rgb(0, 65, 0);
}
